.header {
    color: white;
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
    width: 100%;
    text-align: center;
}

.countriespanel {
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: black;
    align-content: center;
}

.card {
    width: 10rem;
    height: 16rem;
    background-color: #555353;
    color: white;
    border: 2px solid #3f3b3b;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;        
}


.card p {
    color: white;
    max-width: 10rem;
    max-height: 7rem;
    font-size: 1rem;
}

.card img {
    width: 10rem;
    height: 7rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.grid :link {
    text-decoration: none;
}

.search {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
}

.search input {
    border-radius: 30px;
    padding: 0.5rem;
    width: 90%;
    max-width: 20rem;
    font-size: 1rem;
    text-align: center;
}

.search input:focus{
    outline: none;
}

.search input:active {
    border-radius: 30px;
    padding: 0.5rem;
    width: 90%;
    max-width: 20rem;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 800px ) {
    .header {
        color: white;
        font-size: 5rem;
        margin-top: 0rem;
        margin-bottom: 5rem;
        width: auto;
        text-align: center;
    }

    .countriespanel {
        width: auto;
        margin: 1rem;
        padding: 1rem;
        border-radius: 6px;
        background-color: black;
        align-content: center;

    
        text-align: center;
   
    }

    .card {
        width: 5rem;
        height: 8rem;
        background-color: #555353;
        color: white;
        border: 2px solid #3f3b3b;
        margin: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;        
    }

    .card h3 {
        color: white;
        max-width: 10rem;
        max-height: 7rem;
        font-size: 0.7rem;
    }


    .card p {
        color: white;
        max-width: 10rem;
        max-height: 7rem;
        font-size: 0.5rem;
    }

    .card img {
        width: 5rem;
        height: 3.5rem;
    }


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: auto;
    }

    .grid :link {
        text-decoration: none;
    }
}

@media (min-width: 600px ) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        width: auto;
    }
}

@media (min-width: 900px ) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        width: auto;
    }
}